@{
    ViewData["Title"] = "Home Page";

    bool displayData = User.Identity.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (displayData)
    {
        <div id="content"></div>
    }
</div>

@if (displayData)
{
    @section Scripts
    {
        <script src="@Url.Content("~/js/test.jsx")"></script>
    }
}